{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid; 
        grid-template-columns: 1fr 3fr;
    }
</style>

<div class= "home-container">
    <div>
        <h3> Browse Topics </h3>
        <hr>
        <div> 
            <a href = "{% url 'home' %}" > ALL </a>
        </div>
        {% for topic in topics %}
        <div> 
            <a href = "{% url 'home' %}?q={{topic.name}}"> {{topic.name}} </a>
        </div>
        {% endfor %}
    </div>
    <div>
        <h1> Homes </h1>
        <div>   
            <h5> {{room_count}} rooms availiable </h5>
            <a href = "{% url 'create-room' %}" > Create room </a>
            <div>

                {% for room  in rooms %}
                    <a href ="{% url 'update-room' room.id %}"> Edit </a>
                    <a href ="{% url 'delete-room' room.id %}"> Delete </a>
                    <div> 
                        <span> @{{room.hosts.username}}</span>
                        <h3>   {{room.id}} --<a href="{% url 'room' room.id %}">{{room.name}}</a></h3>
                        
                        <small>{{room.topic.name}}</small>
                        <hr>
                {% endfor %}
            </div>
        </div>
    </div> 
</div>
    
{% endblock content %}


